.hint-circle-checkbox[type="checkbox"] {
    display: none;
    opacity: 0
}

.hint-circle-checkbox[type="checkbox"]+label div div:nth-child(1) {
    border: 1px solid var(--bs-primary);
    border-radius: 50%;
    color: var(--bs-primary);
    height: 3.3rem;
    margin: auto;
    text-align: center;
    width: 3.3rem
}

.hint-circle-checkbox[type="checkbox"]+label div div:nth-child(1) i {
    color: var(--bs-primary-bg-subtle);
    display: inline-block;
    font-size: 3.2rem;
    margin-left: -0.1em;
}

.hint-circle-checkbox[type="checkbox"]:checked+label div div:nth-child(1) i {
    color: var(--bs-primary)
}

.hint-circle-checkbox[type="checkbox"]:checked~.formbox {
    display: inline
}

.hint-circle-checkbox[type="checkbox"]:not(:checked)~.formbox {
    display: none
}