.onlinevote-portrait{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 10px;
    
    object-fit:contain;
    max-width: 5rem;
}